<ion-card-header>
    <center><img src="assets/register.png" alt="app-logo">
    <ion-card-subtitle></ion-card-subtitle></center>
  </ion-card-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-item color="secondary">
    <center><ion-title>User Details</ion-title></center>
  </ion-item>
  
  </ion-toolbar>
<ion-content>
  <form>

    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>



    <ion-item lines="full">
      <ion-label position="floating">Gender</ion-label>
      <ion-input type="text" required>
      <input type="radio" id="male" name="gender" value="MALE"> <span class="nowrap"><label>Male</label></span>
      <input type="radio" id="female" name="gender" value="FEMALE"> <span class="nowrap"><label>Female</label></span>
    </ion-input>
    </ion-item>


    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="address" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>